@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Code+Pro&family=Libre+Baskerville&display=swap&');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}

h2 {
  padding-bottom: 4px;
  border-bottom: 1px solid #777;
}

body {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 85%;
}
