body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  color: #222;
}

main {
  line-height: 1.8em;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.3em;
  font-weight: bold;
}

.imgref {
  color: #aaa;
  text-align: center;
}

.main-img {
  display: block;
  max-width: 100%;
  max-height: 30em;
  margin: 0 auto;
  padding: 1em 3em 0.5em 3em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }

h3 {
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0;
}

a {
  color: #379683;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #5cdb95;
}

.menu a {
  text-decoration: none;
  padding: 0 1em 0 1em;
  border-right: 1px solid #ccc;
  display: inline-block;
  font-weight: normal;
}

.menu-links > a:first-child {
  padding-left: 0;
}

.menu-links > a:last-child {
  border-right: none;
}

.footnote-ref {
  text-decoration: none;
}

.article-meta, footer { text-align: center; }

.title {
  display: inline-block;
  margin-top: 0.5em;
}

.date {
  color: #777;
}

.bookshelf {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80em;
  margin: -1.5em auto 1.5em auto;
  flex-wrap: wrap;
}

.book {
  margin: 0.5em;
}

.bookThumbnail {
  width: 10em;
  display: block;
}

footer a { text-decoration: none; }

hr {
  border: none;
  border-top: 1px solid #777;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
